
/*TODO review if we need this?*/
/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Verdana;
}

.logPlotHeaderSerieCell {
  font-family: Verdana; 
  font-size:8pt; 

  /*margin: 1px;
  padding: 2px;*/
  /*border: solid darkgray 1px;*/
  height: 100%;
  padding-bottom: 1px;
}

.pure-g-valign-fix{display:block;}

.logPlotMetaDataIndicators {
    /*undo purecss:*/
    letter-spacing: normal;
}

.logPlotHeaderSerieCellTopBox {
    /*height: 100%;*/ 
    border: solid 1px blue;
}

.logPlotHeaderSmallText {
    font-size:8pt; 
}

.logPlotHeaderLargeText {
    font-size:24pt; 
}
.logPlotHeaderCenteredText {
    text-align: center;
}
.logPlotHeaderAutoTruncatedText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  min-width: 0;
}
.logPlotHeaderHidden {
    display: none;
}
.logPlotHeaderTextAlignRight {
    text-align: right;
}
