
/*TODO review if we need this?*/

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Georgia, Times, "Times New Roman", serif;
}

/*.l-box {
    padding: 1em;
    border: solid 1px black;
}*/

.headerSerieCell {
    margin: 1px;
    padding: 1px;

    border: solid darkgray 1px;

    height: 100%;
}

.pure-g-valign-fix{display:block;}

.logPlotMetaDataIndicators {
    padding-left: 5px;
    padding-right: 5px;
}
