<html >
<head >
<title >
screenium - {TEST_NAME}
</title>

<style>
.sideBySideImage {
	float: left; 
	width: 100%; 
}
</style>

</head>
<body >
<table >
<tr >
<td >
<b >
screenium: {TEST_NAME}</b>
</td>
<td >
</td>
</tr>

<tr >
<td >
<img src='{PATH_TO_EXPECTED_IMAGE}' class='sideBySideImage' />
</td>
<td >
<img src='{PATH_TO_ACTUAL_IMAGE}' class='sideBySideImage' />
</td>	
</tr>

<tr >
<td >
expected
</td>
<td >
actual
</td>	
</tr>

</table>
<p style="clear: both;">
</html>
