<html >
<head >
<title >
screenium side x side
</title>

<style>
.sideBySideImage {
	width: 100%; 
}
</style>

</head>
<body >
<table style="width:100%;" >
<tr >
<td style="width:50%" >
<b >
screenium Test Result: side X side</b>
</td>
<td >
</td>
</tr>

<tr >
<td >
<img src='google_cheese_color.png' class='sideBySideImage' />
</td>
<td >
<img src='google_cheese_color_solarized.png' class='sideBySideImage' />
</td>	
</tr>
</table>
<p style="clear: both;">
</html>
