<html >
<head >
<title >
screenium - {TEST_NAME}
</title>

<style>
.sideBySideImage {
	width: 100%; 
}
</style>

</head>
<body >

{TEST_HEADER}

<table style="width:100%;">
<tr >
<td style="width:50%;">
<img src='{PATH_TO_EXPECTED_IMAGE}' class='sideBySideImage' />
</td>
<td style="width:50%;">
<img src='{PATH_TO_ACTUAL_IMAGE}' class='sideBySideImage' />
</td>	
</tr>

<tr >
<td >
expected
</td>
<td >
actual
</td>	
</tr>

</table>

<p style="clear: both;">
</body>
</html>
